<html>
  <head>
    <title>chat signup</title>
    <style>
      * {
        font-family: sans-serif;
      }
      label {
        font-weight: bolder;
      }
      input[type=button],
      input[type=text],
      input[type=password],
      input[type=submit] {
        padding: 1em 2em;
        margin-top: 1em;
      }
    </style>
  </head>
  <body>
    <h1>signup</h1>
    <p>Choose a username and password</p>
    <p>
      <label for="signupUsername">Username</label> <br>
      <input type="text" id="signupUsername" required />
    </p>
    <p>
      <label for="signupPassword">Password (twice)</label> <br>
      <input type="password" id="signupPassword" required /> 
      <input type="password" id="signupPasswordRepeat" required /> 
    </p>
    <input type="submit" value="Submit">
  </body>
</html>